.input-contact{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD!important;
    border-radius: 0 !important;
}

.input-contact:focus{
    border-radius: 0 !important;
    box-shadow: 0 0 0 #DDDDDD!important;
    border: 1px solid #DDDDDD!important;
}

.button-send{
    background:#648AE2!important;
    outline:none;
    border: 1px solid #DDDDDD!important;
}

.button-send:focus{
    background:#648AE2!important;
    outline:none;
    box-shadow: 0 0 0 #DDDDDD!important;
    border: 1px solid #DDDDDD!important;
}